.news_list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    /* padding: 20px; */
    /* align-items: center; */
    /* height: 513px; */
    padding-left: 160px;
    padding-right: 160px;
    background-color: var(--white);


}

.news_list h1 {
    display: grid;
    /* padding-bottom: 30px; */
    align-items: center;
    justify-content: center;
    grid-column: span 12;
    color: var(--black);

}

.card_item {
    display: grid;
    width: 100%;
    gap:50px;
    /* width:  450px; */
    /* align-items: center;
    justify-content: center; */
    grid-column: span 4;
}



@media (max-width: 1024px) {
    .news_list {
        display: grid;
        gap: 10px;
        padding-left: 30px;
        padding-right: 30px;
        /* padding: 20px; */
        grid-column: span 12;
        
        /* justify-items: start; */
    }

    .card_item {
        display: grid;

        margin-top: 50px;
        margin-bottom: 50px;
        /* align-items: center;
        justify-content: center; */
        grid-column: span 12;
    }

    .card_item img{
        width: 100%;
    }

}