.articles_list {
    display: grid;

    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    /* padding: 50px; */
    /* align-items: center; */
    padding-left: 160px;
    padding-right: 160px;
    background-color: var(--white);


}

.articles_list .h1_main {
    display: grid;
    padding-bottom: 50px;
    align-items: center;
    justify-content: center;
    grid-column: span 12;
    color: var(--black);

}
.articles_list .h1_search {
    display: grid;
    padding-bottom: 10px;
    align-items: start;
    justify-content: start;
    grid-column: span 12;
    color: var(--black);

}
.articles_list .search_result {
    display: grid;
    padding-bottom: 10px;
    align-items: start;
    justify-content: start;
    grid-column: span 12;
    color: var(--black);

}

.articles_list .search_result_bold {
    font-weight: bold;

}



.card_item {
    display: grid;
    /* align-items: center; */
    /* justify-content: center; */
    grid-column: span 4;
}

.load_more {
    display: grid;
    padding: 50px 50px;
    align-items: center;
    justify-content: center;
    grid-column: span 12;
}




@media (max-width: 1024px) {
    .articles_list {

        padding-left: 30px;
        padding-right: 30px;
        grid-column: span 12;

        justify-items: start;
    }

    .card_item {
        display: grid;
        width: auto;
        margin-top: 10px;
        grid-column: span 12;
    }

    .load_more {
    display: grid;
    padding-bottom: 50px;
    align-items: center;
    justify-content: center;
    grid-column: span 12;
    }



}