
.content {
    grid-area: content;
    /* background-color: var(--secondary-blue-500); */
    color: var(--black);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}


.content table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}

.content table th, .content table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.content table th {
    background-color: #f4f4f4;
}

.content table tbody tr:hover {
    background-color: #f1f1f1;
}

.content button.edit, .content button.delete {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
}

.content button.delete {
    color: red;
}

.content .action{
    /* display: flex;
    flex-direction: row; */
    /* justify-content: center; */
    align-items: center;
    /* align-self: center; */
}