@import url('normalize.css');


:root {
  --white: #FFFFFF;
  --black: #020D1D;
  --gray-500:#5E6063;
  --primary:#FFBC0F;
  --text-primary:#051C40;
  --secondary-blue-25:#F0F6FF;
  --secondary-blue-100:#D6E6FF;
  --secondary-blue-400:#1E498B;
  --secondary-blue-500:#002B6E;
  

  --btn-primary-default: #FFBC0F;
  --btn-primary-text: var(--text-primary);
  --btn-primary-hover: #020D1D;
  --btn-primary-text-hover: #FFFFFF;
  --btn-pimary-disabled: #5E6063;
  --btn-primary-text-disabled: #E2E5E8;

  --btn-secondary-default: #FFBC0F;
  --btn-secondary-text: var(--text-primary);
  --btn-secondary-fill: var(--white)
  --btn-secondary-hover: var(--black);
  --btn-secondary-text-hover: var(--text-primary);
  --btn-secondary-fill-hover: var(--white)
  --btn-secondary-disabled: #5E6063;
  --btn-secondary-text-disabled: #E2E5E8;
  --btn-secondary-fill-disabled: #5E6063;


   --font-family: "Noto Sans KR", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: var(--font-family); */
}
