
.news_container {
	display: flex;

	padding-left: 0px;
    padding-right: 0px;
	
	color: var(--text-primary);
	background: var(--white);
}

.news_container img {
  width: 100%;
  height: auto;
  aspect-ratio: 8 / 5;
}

.news_body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	/* padding: 16px; */

}

.news_body h2 {
  max-width: 100%;
  word-wrap: break-word;
}

.news_body h2::before {
  content: attr(data-title);
  display: none;
}

.news_body h2[data-title] {
  max-width: 100%;
}


.news_body span.description::before {
  content: attr(data-description);
  display: none;
}

.news_body span.description[data-description] {
  max-width: 100%;
}

.line{
	margin: 16px 16px;
	width: 80px;
  	border-bottom: 1px solid #888;
}


.description {
	
	/* width: 450px; */
	text-align: justify;

}