
.news_container {
	display: flex;

	/* width: 450px; */
	padding-left: 0px;
    padding-right: 0px;
	/* padding-left: 0px;
	padding-right: 0px; */
	/* flex-direction: column; */
	/* flex-flow: column wrap; */
	/* align-self: start; */
	color: var(--text-primary);
	background: var(--white);
}

.news_body {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	/* padding: 16px; */

}
.line{
	margin: 16px 16px;
	width: 80px;
  	border-bottom: 1px solid #888;
}


.description {
	
	/* width: 450px; */
	text-align: justify;

}