
.content {
    grid-area: content;
    /* background-color: var(--secondary-blue-500); */
    color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.msg_text{
    color: var(--gray-500);
    font-size: 16px;
    margin-bottom: 20px;
}

.publication_form {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form_group {
    margin-bottom: 20px;
}

.form_group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form_group input, .form_group textarea {
    width: 100%;
    padding: 5px;
    /* padding-left: 10px; */
    /* margin-right: 25px; */
    font-size: 16px;
    border: 1px solid #ccc;
}

.form_group .char_count {
    display: flex;
    text-align: right;
    font-size: 14px;
    color:var(--gray-500);
}

.form_group_row {
    display: flex;
    justify-content: center;
}

.form_group_row .form_group {
    width: 100%;
}

.form_group_row .form_group input {
    width: calc(100% - 40px);
}


.upload_file {
   
    margin-top: 20px;
    
}

 .form_group textarea:focus{
    border: 3px solid blue;
    box-shadow: 2px 2px 2px 0 blue;
}
 .form_group input:focus{
    border: 3px solid blue;
    box-shadow: 2px 2px 2px 0 blue;
}

.error {
    color: red;
    border: 3px solid red;

}

.input_file{
    display: none;
}