
.card_container {
	display: flex;
	color: var(--text-primary);
	background: var(--secondary-blue-25);
	
}

.card_body{
	/* height: 513px; */
	/* width: 450px; */

	display: flex;
	margin: 10px;
	flex-flow: column wrap;
	justify-content: center;
	color: var(--text-primary);
	background: var(--secondary-blue-25);
	align-items: center;
}

.line{
	margin: 16px 16px;
	width: 80px;
	align-items: start;
	align-self: flex-start;
  	border-bottom: 1px solid #888;
}

 .description {
	
	width: 350px;
	white-space: nowrap;
  	overflow: hidden;
	overflow-wrap: break-word;
  	text-overflow: ellipsis; 
	text-align: justify;
}

.card_body .author {
	width: 100%;
	align-items: start;
	padding: 5px 5px;
	font-weight: bold;
}
.card_body .author_name {
	width: 100%;
	align-items: start;
	padding: 5px 5px;
}

.card_body button{
	/* margin: 10px; */
	margin: 10px 10px;
	width: 80%;
}